<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/register.css">
</head>
<body>
<div id="header">
    <div class="logo">
        <a href="/">
            <img src="./assets/img/logo-img.png" alt="">
        </a>
    </div>


    <div class="menu">
        <ul class="list">
            <li><a href="">áo khoác</a></li>
            <li><a href="">áo thun</a></li>
            <li><a href="">sơ mi</a></li>
            <li><a href="">quần dài</a></li>
            <li><a href="">quần short</a></li>
            <li><a href="">phụ kiện</a></li>
        </ul>
    </div>

    <div class="action">
        <div class="search_box">
            <input type="text" placeholder="Search...">
            <a href="">
                <img src="./assets/icons/search.svg" alt="">
            </a>
        </div>
        <div class="account">
            <a href="/login">
                <img src="./assets/icons/account.svg" alt="">
            </a>
        </div>
        <div class="cart">
            <a href="/cart">
                <img src="./assets/icons/shopping_cart.svg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="sub_header"></div>
    <div id="content">
        <div id="register-form">
            <div class="col-md-5">
                <div class="text">
                    <h1>Tạo tài khoản</h1>
                </div>
            </div>
            <p></p>
            <div class="col-md-5 register">
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstName" placeholder="Họ" required="none">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastName" placeholder="Tên" required="none">
                    </div>
                    <div class="sex">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" value="female">
                            <label class="form-check-label">Nữ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" value="male">
                            <label class="form-check-label">Nam</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="date" placeholder="mm/dd/yyyy" required="none">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="none">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="none">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg">ĐĂNG KÝ</button>         
                    </div>
                    <div class="page">
                        <a href="/login">quay lại đăng nhập</a>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="shop_info">
            <h2>Thông tin cửa hàng</h2>
            <p>
                <img src="./assets/icons/home.svg" alt="">
                Số nhà 123 - Chương Mỹ - Hà Nội
            </p>
            <p>
                <img src="./assets/icons/phone.svg" alt="">
                Hotline: 0123456789
            </p>
            <p>
                <img src="./assets/icons/email.svg" alt="">
                Mail: huy@gmail.com
            </p>

        </div>
        <div class="contact">
            <h2>Liên hệ</h2>
            <img src="./assets/icons/facebook.svg" alt="">
            <img src="./assets/icons/instagram.svg" alt="">
            <img src="./assets/icons/tiktok.svg" alt="">
        </div>
    </div>
</body>
</html>