<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/user.css">
    <title>Document</title>
</head>

<body>
<div id="header">
    <div class="logo">
        <a href="/">
            <img src="./assets/img/logo-img.png" alt="">
        </a>
    </div>


    <div class="menu">
        <ul class="list">
            <li><a href="">áo khoác</a></li>
            <li><a href="">áo thun</a></li>
            <li><a href="">sơ mi</a></li>
            <li><a href="">quần dài</a></li>
            <li><a href="">quần short</a></li>
            <li><a href="">phụ kiện</a></li>
        </ul>
    </div>

    <div class="action">
        <div class="search_box">
            <input type="text" placeholder="Search...">
            <a href="">
                <img src="./assets/icons/search.svg" alt="">
            </a>
        </div>
        <div class="account">
            <a href="/login">
                <img src="./assets/icons/account.svg" alt="">
            </a>
        </div>
        <div class="cart">
            <a href="/cart">
                <img src="./assets/icons/shopping_cart.svg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="sub_header"></div>
<div id="content">
    <h1 class="user_heading">Tài khoản của bạn</h1>
    <h1 class="user_heading-line">______________</h1>
    <div class="container">
        <div class="avatar">
            <div class="image">
                <img src="./assets/img/user-image.png" alt="">
            </div>
            <div class="logout_btn">
                <button>Đăng xuất</button>
            </div>
        </div>
        <div class="user_info">
            <h2>Thông tin cá nhân</h2>
            <div class="info">
                <p class="name">Trịnh Bùi Quang Huy</p>
                <p class="phone_number">Số điện thoại: 0123456789</p>
                <p class="email">Email: huy@gmail.com</p>
                <p class="address">Địa chỉ: Việt Nam</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="shop_info">
        <h2>Thông tin cửa hàng</h2>
        <p>
            <img src="./assets/icons/home.svg" alt="">
            Số nhà 123 - Chương Mỹ - Hà Nội
        </p>
        <p>
            <img src="./assets/icons/phone.svg" alt="">
            Hotline: 0123456789
        </p>
        <p>
            <img src="./assets/icons/email.svg" alt="">
            Mail: huy@gmail.com
        </p>

    </div>
    <div class="contact">
        <h2>Liên hệ</h2>
        <img src="./assets/icons/facebook.svg" alt="">
        <img src="./assets/icons/instagram.svg" alt="">
        <img src="./assets/icons/tiktok.svg" alt="">
    </div>
</div>
</body>

</html>